.vscode/
tests/
books/
naken_asm/
.DS_Store
.clang-format
.clang-tidy
.clangd
src/common.d
src/nes/cpu.d
src/nes/cpu/instruction.d
src/nes/cpu/tests.d
src/nes/bus.d
src/main.d
src/nes.d
src/main.o
src/nes/bus.o
src/nes/cpu/tests.o
src/nes/cpu/instruction.o
src/nes/cpu.o
src/nes.o
src/common.o
output/main